html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.verified {
  background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yT/r/fivAKhX-971.png');
  background-position:-74px -195px;
  background-size:auto;
  width:16px;
  height:16px;
  background-repeat:no-repeat;
  display:inline-block;
}
